.coffee-card {
  width: 250px;
  height: 450px;
  .card-top {
    width: 100%;
    height: 80%;
    position: relative;

    img {
      border-radius: 8px;

      object-fit: cover;

      width: 100%;
      height: 100%;
    }

    .add-bag {
      border: 1px solid #0d98e6;
      padding: 7px 20px;
      border-radius: 20px;
      position: absolute;
      bottom: 20px;
      right: 20px;
      background-color: var(--bakcground-color-dark);
    }

    .fav-icon {
      position: absolute;
      top: 20px;
      left: 20px;
    }
  }

  .card-bottom {
    margin-top: 10px;
    .title {
      font-weight: 400;
    }
    .info {
      font-weight: 200;
      font-size: 0.8rem;
      color: grey;
    }
    .prices {
      display: flex;
      justify-content: space-between;
      margin-top: 0.5rem;

      .old-price {
        color: #d6d4d4;
        font-weight: 200;
        text-decoration: line-through;
        margin-right: 1rem;
      }

      .off {
        font-size: .7rem;
        place-self: center;
        color: #0d98e6;
        font-weight: 500;
      }
    }
  }
}
