.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100vw;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2rem;
  background-color: transparent;
  transition: background-color 400ms ease;

  .left {
    display: flex;
    align-items: center;
    gap: 1rem;
    min-height: 2rem;
  }
  .right {
    display: flex;
    gap: 1rem;
    align-items: center;
    min-height: 2rem;

    .bag-wrap {
      position: relative;
      cursor: pointer;
      .bag {
        position: relative;
        display: flex;
        align-items: center;
        width: 20px;
        height: 20px;
      }
      .bag-qty {
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-color-light);
        font-size: 0.7rem;
        width: 15px;
        height: 15px;
        position: absolute;
        bottom: -5px;
        right: -5px;
        border-radius: 50%;
        background-color: var(--background-color-dark);
      }
    }
  }
  .skip-navigation {
    position: absolute;
    color: var(--text-color-light);
    background-color: var(--background-color-dark);
    padding: 10px;
    top: 0;
    left: 4px;
    font-size: 0.7rem;
    border-radius: 0 0 5px 5px;
    transition: transform 300ms ease;
    transform: translateY(-100%);
  }
  .skip-navigation:focus {
    transform: translate(0);
    outline: none;
  }
}

.navbar button:focus-visible,
.navbar .logo:focus-visible {
  outline: 2px solid rgb(57, 132, 156);
}

@media (min-width: 768px) {
  .navbar {
    padding: 0.8rem 4rem;
    .left,
    .right {
      gap: 2rem;
    }
  }
}
