#fav-placeholder {
  position: relative;
  top: -4.9rem;
}

.favorites {
  margin-bottom: 1rem;
  width: 100vw;
padding: 1rem;
  .top {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    h2 {
      font-size: 1.6rem;
      font-weight: 300;
    }
    p {
      font-weight: 300;
      font-size: 0.9rem;
    }
  }

  .bottom {
    margin-top: 1rem;
    overflow-x: hidden;
    .slider-wrap {
      display: flex;
      gap: 1rem;
      width: fit-content;
      transform: translateX(-0%);
    }
  }
}

@media (min-width: 480px) {

}
@media (min-width: 768px) {
  .favorites {
    .top {
      text-align: center;
    }
    .bottom {
      display: flex;
      justify-content: center;
    }
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
